@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --very-dark-cyan: hsl(156, 42%, 18%);
  --pink: hsl(0, 85%, 79%);

  --tw-screen-sm: 640px;
  --tw-screen-md: 768px;
  --tw-screen-lg: 1024px;
  --tw-screen-xl: 1280px;
  --tw-screen-2xl: 1536px;
  --tw-color-inherit: ;
}

body {
  font-family: "Montserrat";
  background-color: var(--cream);
  text-decoration-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--pink);
}

.button {
  background-color: var(--dark-grayish-blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--dark-cyan);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  background-color: var(--white);
  border: 1px solid var(--dark-grayish-blue);

  display: none;
}

.formShow {
  display: flex;
}

.buttonHide {
  display: none;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--dark-grayish-blue);
  border-radius: 5px;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border: 1px solid var(--dark-cyan);
}

.form textarea {
  height: 100px;
}

.buttonSave {
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background: var(--dark-cyan);
}

.buttonSave:hover {
  background: var(--very-dark-cyan);
}

.buttonCancelar {
  width: 100%;
  border: 1px solid var(--pink);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.buttonCancelar:hover {
  background-color: var(--pink);
  color: var(--white);
}

.tableShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  background-color: var(--white);
  border: 1px solid var(--dark-grayish-blue);
}
